.pets-wrapper {
    display: grid;
    gap: 1rem;
    label {
        display: grid;
        gap: .3rem;
        justify-content: flex-start;
    }
}
.pets-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    align-items: stretch;
    flex-wrap: wrap;
}
.pets-block__card {
    padding: 1rem;
    border: 1px solid silver;
    border-radius: .5rem;
    display: grid;
    align-items: flex-start;
    grid-template-rows: 140px auto 1fr auto;
    justify-content: center;
    gap:.5rem;
    position: relative;
    h3, p {
        margin: 0;
        align-self: flex-start;
    }
    .pic {
        height: 140px;
        background: center / cover
    }
    span {
        background-color: silver;
        width: max-content;
        display: flex;
        padding: .2rem .5rem;
        border-radius: .2rem;
        align-self: flex-end;
    }
    .close {
        position: absolute;
        top: .3rem;
        right: .3rem;
        background-color: silver;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background-color: #222;
        }
    }
}