html {
	font-size: 20px;
}


body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.red {
	color: red;
}
.green {
	color: forestgreen;
}
.blue {
	color: lightskyblue;
}
.caption {
	font-size: 34px;
	margin: 0;
}
ul {
	margin: 0;
}
.card {
	border: 2px solid #222;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	border-radius: 4px;
}
.card-block {
	display: flex;
	flex-wrap: wrap;
}