html {
	font-size: 20px; // 1rem
}


body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
header, footer {
	background-color: #222;
}
.wrapper {
	display: grid;
	grid-template-rows: 3rem 1fr 1.5rem;
	min-height: 100vh;
	&>section {
		display: grid;
		align-content: flex-start;
		gap: 2rem;
		padding: 2rem;
	}
}
.red {
	color: red;
}
.green {
	color: forestgreen;
}
.blue {
	color: lightskyblue;
}
.caption {
	font-size: 34px;
	margin: 0;
}
ul {
	margin: 0;
}
.card {
	border: 2px solid #222;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	border-radius: 4px;
}
.card-block {
	display: flex;
	flex-wrap: wrap;
}